@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --background: #FEFEFE;
    --primary-color: #2D43BA;
    --secondary-color: #EDF1F4;
    --font-color: #080927;
    --white: #ffffff;
}
body{
    background-color: var(--background);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6{
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
  color: var(--font-color);
  font-family:Georgia, 'Times New Roman', Times, serif;
}
p{
  color: var(--font-color);
  letter-spacing: 0.5px;
  font-family: 'Lato', sans-serif;
}
a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
.container {
    width: 80%;
    margin: 0 auto;
}

/* home hero section */
.hero-section{
    background: url("../img/home-back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.home-hero-inner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    height: 88vh;
}
.home-hero-left{
    margin-right: 50px;
}
.home-hero-left h1{
    font-size: 3em;
    color: #ffffff;
}
.grey{
    color: var(--secondary-color);
}
.home-hero-right img{
    width: 100%;
}
/* home hero section end*/

/* wwa-section */
.wwa-section{
    padding: 80px 0px;
    text-align: center;
}
.wwa-inner h1{
    font-size: 2.5em;
    padding-bottom: 10px;
}
.wwa-inner p{
    font-size: 1.1em;
}
/* wwa-section end*/

/* wwa2-section */
.wwa2-section{
    background: var(--secondary-color);
    padding: 50px 0px;
}
.wwa2-inner{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
}
.wwa2-f h1{
    font-size: 2.5em;
    padding-bottom: 0px;
}
.wwa2-f p{
    font-size: 1.1em;
}
.wwa2-s img{
    width: 100%;
}
.wwa2-t p{
    font-size: 1.1em;
}
.wwa2-line{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.w1{
    height: 5px;
    width: 80px;
    background: var(--primary-color);
    margin-right: 10px;
    border-radius: 5px;
}
.w2{
    height: 5px;
    width: 30px;
    background: var(--primary-color);
    border-radius: 5px;
}
/* wwa2-section end*/

/* service-section */
.service-section{
    padding: 50px 0px;
    text-align: center;
}
.service-det h1{
    font-size: 2.5em;
    padding-bottom: 0px;
}
.service-det p{
    font-size: 1.1em;
}
.services{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.service{
    /* position: relative; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.service-title{
    position: relative;
}
.service-line{
    position: absolute;
    margin-top: 17px;
    margin-left: 160px;
}
.ser-line1{
    position: absolute;
    margin-top: 17px;
    margin-left: 120px;
}
.ser-line2{
    position: absolute;
    margin-top: 17px;
    margin-left: 135px;
}
/* service-section end*/


/* tech-stack */
.tech-stack{
    padding: 50px 0px;
    background: var(--secondary-color);
    text-align: center;
}
.tech-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.tech p{
    font-size: 1.1em;
    margin-bottom: 0px;
}
.tech img:hover{
    filter: invert(0.5)
    sepia(2)
    hue-rotate(200deg)
    saturate(2)
    brightness(0);
}
.service-title svg:hover{
    width: 47px;
}
/* tech-stack end*/

/* project-section */
.project-section{
    padding: 50px 0px;
}
.project-title{
    padding-bottom: 50px;
    font-size: 2.5em;
    text-align: center;
}
.project-1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 120px;
}
.project img{
    width: 100%;
}
.project h3{
    font-size: 1.5em;
    padding-top: 20px;
    font-family: 'Lato', sans-serif;
}
.project p{
    color: var(--primary-color);
}
.project-spe{
    margin-top: 0px;
}
.pr-spe{
    margin-top: 80px;
}
/* project-section end*/

.client-section{
    background: var(--secondary-color);
    position: relative;
}
.blog1{
    position: absolute;
    right: 0px;
    top: -50px;
}
.client-inner{
    padding: 80px 0px;
}
.client-det h1{
    text-align: center;
    font-size: 2.5em;
}
.client-det p{
    text-align: center;
    font-size: 1.1em;
    padding-bottom: 30px;
}
.clients{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 50px;
}
.clients div{
    display: flex;
    justify-content: center;
    width: 100%;
}


.contact-section{
    position: relative;
}
.blog2{
    position: absolute;
    left: -35px;
    top: -80px;
}
.contact-left{
    background: #2D43BA;
}
.contact-right{
    background: #A6D0E6;
}
.contact-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.contact-left{
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
}
.contact-det h1{
    font-size: 2.5em;
    color: var(--secondary-color);
}
.contact-det p{
    font-size: 1.1em;
    color: var(--secondary-color);
}
.contact-q{
    display: flex;
    flex-direction: row;
    padding: 20px;
    background: #2C41B6;
    border-radius: 15px;
    margin-top: 20px;
    width: 400px;
}
.contact-q img{
    margin-right: 20px;
}
.contact-q p{
    color: var(--secondary-color);
}
.contact-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.cont-r{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 70%;
    margin: 0px auto 0px;
    padding-top: 14%;
}
.form-inline {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    width: 100%;
  }
  input[type="text"],
  input[type="email"],
  select,
  textarea {
    width: 100%;
    padding: 15px 15px;
    border: none;
    border-radius: 6px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background: var(--secondary-color);
    color: rgb(37, 37, 37);
    outline: none;
  }
  textarea {
    height: 150px;
  }
  .submit-button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: var(--primary-color);
    color: #fff;
  }
footer{
    text-align: center;
    padding: 10px 0px;
}

@media (max-width: 1400px){
    .home-hero-left h1{
        font-size: 2.5em;
    }
    .wwa2-f h1{
        font-size: 2em;
        padding-bottom: 5px;
    }
    .service-line svg{
        margin-top: 0px;
        margin-right: -200px;
        width: 120px !important;
    }
    .service-line{
        position: absolute;
        margin-top: 17px;
        margin-left: 120px;
    }
    .ser-line1{
        position: absolute;
        margin-top: 17px;
        margin-left: 75px;
    }
    .ser-line2{
        position: absolute;
        margin-top: 17px;
        margin-left: 100px;
    }
}
@media (max-width: 1100px){
    .home-hero-left h1{
        font-size: 2.2em;
    }
    .wwa2-f h1{
        font-size: 1.5em;
        padding-bottom: 5px;
    }
    .service-line svg{
        margin-top: 0px;
        margin-right: -150px;
        width: 100px !important;
    }
    .service-line{
        position: absolute;
        margin-top: 17px;
        margin-left: 130px;
    }
    .ser-line1{
        position: absolute;
        margin-top: 17px;
        margin-left: 90px;
    }
    .ser-line2{
        position: absolute;
        margin-top: 17px;
        margin-left: 95px;
    }
}
@media (max-width: 900px){
    .home-hero-left h1{
        font-size: 2.2em !important;
    }
    .home-hero-right img{
        width: 505px !important;
        margin: 0px 100px;
    }
}
@media (max-width: 750px){
    .home-hero-left h1{
        font-size: 1.7em !important;
    }
    .home-hero-right img{
        width: 100% !important;
        margin: 0px 00px;
    }
}
